body{
    background-image: url("https://png.pngtree.com/background/20211215/original/pngtree-cartoon-satellite-ruler-calculator-linear-education-background-picture-image_1458755.jpg");
}
.calculator {
    max-width: 700px;
    background-color: rgb(26, 27, 27);
    box-shadow: inset 8px 8px 8px rgb(176, 247, 247),
                inset -8px -8px 8px rgba(211, 186, 250, 0.525) ;
    padding: 20px;
    border-radius: 70px;
    margin: 10px;
    }
    input[type=text] {
    width: 320px;
    font-size: larger;
        height: 50px;
        border-radius: 5px;
        border: 0px;
        background-color: rgba(255, 249, 252, 0.692);
        box-shadow: inset 6px 6px 6px rgba(90, 90, 90, 0.386),
                    inset -6px -6px 6px rgba(147, 147, 147, 0.274);
        color: #fff;
        padding: 0 5px 0 5px;
        margin: 0 0px 25px 50px;
    
    } 
    .calculator {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
    .calc-buttons {
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    }
    .calculator-container {
        display: flex;
        flex-direction: column; /* Rows */
      }
      
      .calculator-row {
        display: flex;
        flex-direction: row; /* Columns */
      }
    .button {
       margin: 3px;
    width: 65px;
    border: none;
    height: 35px;
    border-radius: 40px;
    color: #000000;
    cursor: pointer;
    }
    button:hover {
      background-color: #ffffffa9;
      transition: .2s;
    }
    .functions-one {
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .triggers {
        background-color: #ffffff;
    }
    .numbers {
        background-color: #ffffff;
    }
    .basic-stuff {
        background-color: #ffffff;
    }
    
    .complex-stuff {
        background-color: #ffffff;
    }
    